$volsu-black: #2b3048;
$volsu-deep-blue: #143a68;
$volsu-yellow: #edb81a;
$volsu-gray: #dbdcdb;
$volsu-dark-gray: #4c4a49;

$light-gray: #f4f4f4;

:root {
    --volsu-black: #{$volsu-black};
    --volsu-deep-blue: #{$volsu-deep-blue};
    --volsu-yellow: #{$volsu-yellow};
    --volsu-gray: #{$volsu-gray};
    --volsu-dark-gray: #{$volsu-dark-gray};

    --light-gray: #{$light-gray};
}