$volsu-black: #2b3048;
$volsu-deep-blue: #143a68;
$volsu-yellow: #edb81a;

:root {
    --volsu-black: #{$volsu-black};
    --volsu-deep-blue: #{$volsu-deep-blue};
    --volsu-yellow: #{$volsu-yellow};
}