@import "./colors";

body,
html {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#app {
    height: 100%;
}

ul {
    padding: 0;
}

.ant-layout-header {
    background: var(--volsu-black) !important;

    color: white;
}

.ant-btn-text:hover,
.ant-btn-text:focus {
    // border-radius: 50% !important;

    background: var(--light-gray);
}

.typo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
