@import "./variables";
@import "./colors";


body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px !important;
  line-height: 1.5rem !important;
  color: var(--color-text) !important;
}

body {
  overflow: hidden;
}

#app {
  height: 100%;
}

ul {
  padding: 0;
}

// TODO: Вынести в компонент
.typo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
